/* debug */
.debug .container{
  background-color: pink;
}

.debug .container .row{
  background-color: lightcoral;
}

.debug .container .row [class*="col-"]{
  height: 100px;
  background-color: lightcoral;
  border: 1px solid #000;
}


/* feature */

.bg_darkblue{
  background-color: #2c3e50;
}

.bg_green{
  background-color: #1abc9c;
}

.bg_grey_blue{
  background-color: #3a546d;
}

.t_alngcentr{
  text-align: center;
}

a{
  text-decoration: none;
}

/* menu */

.menu{
  line-height: 70px;
}

.menu_list{
  text-align: right;
}

.hamburger-icon {
  float: right;
  line-height: 70px;
  font-size: 30px;
}


/* jumbotron */



/* portfolio */



/* About section */



/* Contact form section */
