/* feature */

body{
 /* font-family: 'Roboto', sans-serif; */
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper{
  max-width: 800px;
  width: 70%;
  margin: auto;
}

.bg_darkblue{
  background-color: #2c3e50;
}

.bg_green{
  background-color: #1abc9c;
}

.bg_grey_blue{
  background-color: #3a546d;
}

.t_alngcentr{
  text-align: center;
}

.t_white{
  color: #fff;
}

.t_darkblue{
  color: #2c3e50;
}

.t_green{
  color: #1abc9c;
}

.f_w_bold{
  font-weight: bold;
}

.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.m_bottom_30{
  margin-bottom: 30px;
}





/* Typography */


h1{
  font-size: 7rem;
  font-weight: bold;
}

h2{
  font-size: 6rem;
  font-weight: bold;
}

h4{
  font-size: 2.5rem;
  font-weight: bold;
}

/* divisor + star */

.divisor{
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.divisor i{
  margin-left: 20px;
  margin-right: 20px;
}

.divisor::before, .divisor::after{
  display: inline-block;
  content: "";
  width: 120px;
  height: 4px;
  background-color: #fff;
  vertical-align: 30%;
}

/* menu */

.menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #fff;
}

.menu a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu_list{
  text-align: right;
}

.hamburg_wrapper{
  margin-right: 20px;
}

.hamburg_wrapper button{
 background-color: transparent;
}

.hamburg_wrapper .hamburger{
 font-size: 20px;
 color: #888888;
 background-color: transparent;
}

/* jumbotron */

.jumbo {
  margin-top: 70px;
}

.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
.jumbo_text img{
  max-width: 250px;
  width: 30%;
}

.jumbo_text p{
  font-size: 2rem;
}

/* portfolio */

.portfolio .divisor::before, .portfolio .divisor::after{
  background-color: #2c3e50;
}


.img_portfolio_wrapper{
  margin: auto;
  height: 250px;
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.img_portfolio_wrapper .layover{
  position: relative;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.img_portfolio_wrapper .layover:hover {
  background-color: rgba(26, 188, 156, 0.9);

}

.img_portfolio_wrapper .layover span{
  opacity: 0;
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.5s

}

.img_portfolio_wrapper .layover:hover span{
  opacity: 1;
}

.img_cabin{
  background-image: url(../img/portfolio/cabin.png);
}
.img_cake{
  background-image: url(../img/portfolio/cake.png);
}
.img_circus{
  background-image: url(../img/portfolio/circus.png);
}
.img_game{
  background-image: url(../img/portfolio/game.png);
}
.img_safe{
  background-image: url(../img/portfolio/safe.png);
}
.img_submarine{
  background-image: url(../img/portfolio/submarine.png);
}

/* About section */

.about p{
  font-size: 1.9rem;
}

.about button{
  color: #fff;
  background-color: transparent;
  padding: 20px;
  border: 2px solid #fff;
  transition: 0.15s;
}
.about button:hover{
  border: 2px solid #fff;
  background-color: #fff;
}




/* Contact form section */

.contact .divisor::before, .contact .divisor::after{
  background-color: #2c3e50;
}

/* form */

form {
  width: 100%;
}


#contact input, #contact textarea{
  background: transparent;
  border: none;
  border-bottom: 1px solid #e9ecef;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  resize: none;
  font-size: 2rem;
  padding-bottom: 50px;
  padding-top: 20px;
}

#contact textarea{
  resize: none;

}

#contact button{
  margin-top: 30px;
  font-size: 1.8rem;
  padding: 15px 25px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
}

/* footer info */

.footer_info p{
  font-size: 1.9rem;
}

.social_list li a{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.15s;
}

.social_list li a:hover{
  background-color: #fff;
}
.social_list li a:hover i{
  color: #2c3e50;
}

.social_list i{
  color: #fff;
  font-size: 1.8rem;
}

/* footer copyright */

.span_footer:hover{
  color: #1abc9c;
  text-decoration: underline;
}

.footer_copyright p{
  font-size: 1.2rem;
  line-height: 70px;
  margin: 0;
}
