form {
  width: 100%;
}


#contact input, #contact textarea{
  background: transparent;
  border: none;
  border-bottom: 1px solid #e9ecef;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  resize: none;
  font-size: 2rem;
  padding-bottom: 50px;
  padding-top: 20px;
}

#contact textarea{
  resize: none;

}

#contact button{
  margin-top: 30px;
  font-size: 1.8rem;
  padding: 15px 25px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
}
